<h1>Summary of your details:</h1>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>E-mail address:</strong>
	<%= @user.email %>
</p>

<p>
	<strong>Address:</strong><br>
	<%= @user.address %>
</p>

<p>
	<strong>Phone number:</strong>
	<%= @user.phone_number %>
</p>